# Logs - логи работы пакетных менеджеров
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies - папка с библиотеками
node_modules

# Production - папка со сборкой проекта
dist
dist-ssr

# Environment Variables - ПЕРЕМЕННЫЕ ОКРУЖЕНИЯ 
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Local files - локальные конфигурации
*.local

# Editor directories and files - настройки редакторов кода
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing - отчеты о тестировании
/coverage
